<main>
  <div class="withdraw-page">
    <h4><strong>本当に退会しますか？</strong></h4>
    <div class="withdraw-message">
      退会すると、会員登録情報や<br><br>
      これまでの購⼊履歴が閲覧できなくなります。<br><br>
      退会する場合は、「退会する」をクリックしてください。
    </div>
    <div class="withdraw-btn-area">
      <%= link_to "退会しない", member_path(current_member), class:"col-sm-3 btn-primary text-white sircle-btn bigger-btn" %>
      <span>　　　</span>
      <%= link_to "退会する", members_out_path, method: :patch, class:"col-sm-3 btn-danger text-white sircle-btn bigger-btn" %>
    </div>
  </div>
</main>