/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Permanent+Marker&family=Yusei+Magic&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Architects Daughter', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Yusei Magic', sans-serif;
  letter-spacing: 2px;
}

main {
  background-color: rgba(255, 182, 193, 0.1);
  padding-bottom: 50px;
}

.notice {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  color: green;
  font-size: 1.2rem;
  font-weigth: bold;
}

.nav-item {
  padding: 20px 10px;
}

.Nagano-CAKE-image {
  padding-right: 300px;
}

.title-box {
  text-align: center;
  padding: 40px 0;
}

.inline {
  display: inline-block;
}

.login-title{
    background-color:#EEEEEE;
    padding: 0 15px;
}

.field-email{
    padding-left: 25%;
    margin-bottom: 5px;
}

.field-password{
  padding-left: 25%;
}

.field-email{
  padding-left: 25%;
  margin-bottom: 5px;
}

.inline {
   display: inline-block;
 }

.product-title {
  margin: 10px;
}

.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-box {
 flex-basis :20%;
 margin: 10px;
 padding: 10px;
 background-color: rgba(255, 160, 122, 0.2);
 text-align: center;
}

.product-box > p {
  padding: 15px 5px 0;
  margin: 0;
  font-size: 1.1rem;
}

.field-email{
    padding-left:25%;
    margin-bottom:5px;
}

.paginate {
  padding-top: 50px;
}

.pagination {
  justify-content: center;
}

// kaminari大きさ調整
.pagination > span {
  padding: 12px 24px;
  font-size: 1.3rem;
  margin: 0 10px;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
}

.product-show-box {
  margin: 120px 20px 0;
  display: flex;
  justify-content: center;
}

.product-image {
  margin-right: 50px;
}

.product-info > h3, p {
  margin-bottom: 20px;
}

.taxed_price {
  font-size: 1.4rem;
  font-weight: bold;
}

.taxed_price > span {
  font-size: 0.8rem;
  font-weight: 100;
}

.product-show-form {
 padding-left: 15px;
}

// ---------商品一覧画面---------//
.private-product-title {
  padding: 30px 0px;
}

// ---------商品新規登録---------//
table {
    margin-left:auto;
    margin-right:auto;
}

.form-group {
    padding: 10px 0px;
}

.field-password{
 padding-left: 25%;
}

.select-quantity{
  margin-right: 30px;
  height: 30px;
}

.into-cart {
  height: 40px;
}

.between-flex-lg {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-price-table {
  width: 40%;
  margin-bottom: 0;
}

.table-borderd tr, th, td {
  text-align: center;
}

.change-quantity {
  margin-right: 20px;
}

.bigger-btn {
  padding: 0.7rem;
}

.biggest-btn {
  padding: 0.7rem 3rem;
  font-weight: bold;
}

.empty-message {
  width: 70%;
  font-size: 2rem;
  color: #d3d3d3;
  margin: 0 auto;
  padding: 180px 0;
  text-align: center;
}

.link-to-top {
  width: 70%;
  margin: 30px auto;
  text-align: center;
}

.align-middle {
  font-size: 1.2rem;
}

.bgc-gray {
  background-color: #dee2e6;
}

.go-to-input {
  text-align: center;
  margin: 50px 0 30px;
}

// 注文入力画面

.page-title {
  display: inline-block;
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 40px;
}

.payment-area {
  margin-bottom: 50px;
  background: rgba(175, 238, 238,0.2);
}

.address-area {
  margin-bottom: 50px;
  background: rgba(175, 238, 238,0.2);
}

.order-title, .address-title {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 15px 0;
  margin: 0 15px;
}

.radio-button {
  margin-right: 10px;
  transform:scale(1.5);
}

.input-section {
  margin-left: 60px;
  padding-bottom: 15px;
}

.input-section > div {
  margin-left: 30px;
}

.input-section > div > p {
  padding: 10px 0;
}

.new-address-box {
  display: flex;
  margin-bottom: 10px;
}

.new-address-label {
  width: 30%;
}

.small-text {
  font-size: 0.7rem;
}

.long-form {
  width: 40%;
}

.go-to-check {
  text-align:center;
  margin: 40px 0;
}

.select-having-address {
  width: 80%;
  height: 30px;
}


// 注文完了画面
.complete-box {
  text-align: center;
  height: 300px;
}

.complete-message {
  font-size: 1.7rem;
  line-height: 300px;
}


// 注文確認画面

.reverse-table {
  -ms-writing-mode : tb-lr;
  writing-mode : vertical-lr;
}

td > span, th > span{
  -ms-writing-mode : lr-tb;
  writing-mode : horizontal-tb;
  white-space : nowrap;
}

.reverse-table td, th {
  text-align:center;
}

.reverse-table thead, th {
  vertical-align: middle!important;
}

.order-products-index {
  margin-bottom: 50px;
}

.check-flex {
  width: 50%;
  display: flex;
  align-items: center;
}

.check-flex > p {
  margin: 0;
}

.check-address {
  width: 100%;
}

.order-create {
  margin: 30px 0;
  text-align: center;
}

// 注文一覧

.vertical {
  vertical-align: middle!important;
}

.text-align-left {
  text-align: left!important;
}

.no-margin-bottom-p {
  margin-bottom: 0;
}

.font-success {
  font-weight: bold;
  color: #28a745;;
}

// 注文履歴詳細
 .order-show-title {
   font-size: 1.2rem;
   font-weight: bold;
   padding: 15px 0;
 }

 .oreder-products {
   margin-top: 50px;
 }

// フッター
footer {
  background: #f5f5f5;
  text-align: center;
}

footer > p {
  padding: 30px 0;
  margin-bottom: 0;
  opacity: 0.5;
}

// エラーメッセージ
.error-text {
  color:red;
}