/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

* {
  box-sizing: border-box;
}

.nav-name{
  padding:30px;
}
.search{
  padding-left:600px;
}
.Nagano-CAKE-image{
  padding-right:300px;
}
.nav-name-logout{
  padding-left:120px;
}



.title-box {
  text-align: center;
  margin: 40px 0;
}

.inline {
  display: inline-block;
}

.product-title {
  margin: 10px;
}

.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-box {
 margin: 20px;
}

.product-box > p {
  padding: 15px 5px 0;
  margin: 0;
  font-size: 1.1rem;
}

.paginate {
  padding: 20px 0;
}

.pagination {
  justify-content: center;
}

.pagination > span {
  padding: 5px 10px;
  margin: 0 10px;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
}

.product-show-box {
  margin: 120px 20px 0;
  display: flex;
  justify-content: center;
}

.product-image {
  margin-right: 50px;
}

.product-info > h3, p {
  margin-bottom: 20px;
}

.taxed_price {
  font-size: 1.4rem;
  font-weight: bold;
}

.taxed_price > span {
  font-size: 0.8rem;
  font-weight: 100;
}

.product-show-form {
 padding-left: 20px;
}

.select-quantity{
  margin-right: 30px;
  height: 30px;
}

.into-cart {
  height: 40px;
}